{% extends "app1/base.html" %}
{% block title_block %}
  <title>Regisration</title>
{% endblock %}

{% block body_block %}
  <div class="jumbotron">
    <h1>Please Login!!</h1>
    <form action="{% url 'app1:login' %}" method="post">
      {% csrf_token %}
      <p><label for="username">Username:</label>
      <input type="text" name="username"></p>

      <p><label for="password">Password:</label>
      <input type="password" name="password" value=""></p>

      <p><input type="submit" name="" value="Login"></p>
    </form>

  </div>
{% endblock %}
